.taskbar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:none;
  font-family: 'Bebas Neue', cursive;
  font-size:250%;
}

li 
{
  float: left;
}

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover 
{
  background-color: #FF652F;
  color:black;
}

body
{
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align:center;
	background-position:center center;
	background-color:#464646
}

h1 span
{
	display:table-cell;
	animation:animate 5s linear infinite;
}
h1 span:nth-child(1)
{
	animation-delay:0s;
}
h1 span:nth-child(2)
{
	animation-delay:0.25s;
}
h1 span:nth-child(3)
{
	animation-delay:0.5s;
}
h1 span:nth-child(4)
{
	animation-delay:0.75s;
}
h1 span:nth-child(5)
{
	animation-delay:1s;
}
h1 span:nth-child(6)
{
	animation-delay:1.25s;
}
h1 span:nth-child(7)
{
	animation-delay:1.5s;
}
h1 span:nth-child(8)
{
	animation-delay:1.75s;
}
@keyframes animate
{
	0%,100%
	{
		color:#FFE400;
		filter:blur(2px);
		text-shadow:0 0 10px #ffffff;
				   0 0 20px #ffffff;
				   0 0 40px #ffffff;
				   0 0 80px #ffffff;
				   0 0 120px #ffffff;
				   0 0 200px #ffffff;
				   0 0 300px #ffffff;
				   0 0 400px #ffffff;
	}
	5%,95%
	{
		color: #111;
		filter: blur(0px);
		text-shadow:white;
	}
}

.welcome
{
	color:#111; font-size:10em; font-family: 'Bebas Neue', cursive;
}

.introduction
{
	font-size:250%;
	font-family: 'Bebas Neue', cursive;
	color:#FF652F;
	text-align: right
}

.title
{
	font-family: 'Fjalla One',sans-serif;
	font-style:italic;
	font-size:150%;
	text-align:left
}

.right
{
	text-align:right
}

.left
{
	text-align:left
}

.explanation
{
	font-size:125%;
	font-family: 'Fjalla One', sans-serif;
	color:white
}	

.ig
{
	font-size:200%;
	font-family: 'Bebas Neue', cursive;
	color:white;
	text-align: center;
	color:#FFE400
}